@charset "UTF-8";


body{
    background-color: rgb(66, 85, 253); 
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color: darkorange;
}
h2{
    color: azure;
}
p{
    text-align: justify;
    color: aquamarine;
}
a{
    color: brown;
}
